<div class="d-flex flex-column align-items-center py-4">
  <div id="login-component" class="d-flex flex-column align-items-center">

    <alert type="danger" *ngIf="error">
      <strong>Oh snap!</strong> Wrong username or password.
    </alert>

    <form (submit)="login()" class="d-flex flex-column align-items-center">
      <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" [(ngModel)]="model.username" id="username" name="username" type="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" [(ngModel)]="model.password" id="password" name="password" type="password" placeholder="Password"
          required>
      </div>
      <div class="input">
        <button type="submit" class="btn btn-primary" value="Login">Login</button>
      </div>
    </form>
  </div>
</div>