<nav class="navbar sticky-top navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isCollapsed = !isCollapsed">
  <span class="navbar-toggler-icon"></span>
</button>
  <a class="navbar-brand" routerLink="/dashboard">Skyhawk Test</a>
  <div [collapse]="isCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </div>
</nav>