$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

.airport {
    &-grid {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 25%;
        justify-content: center;
    }

    &-card {
        margin: 12px;
        height: 200px;
        width: calc(100% - 50px);
        position: relative;

        @media screen and (min-width: 768px) {
            height: 260px;
            width: calc(40% - 100px);
        }

        &-image {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            width: 100%;
            height: 100%;
            box-shadow: inset 0 -300px 300px -200px $black;
        }
        
        &-title {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            color: $white;
            text-align: center;
            font-size: 24px;
            font-weight: 600;
            height: 50px;
        }
    }
}